<ng-container *ngIf="{ user: user$ | async } as data">
 
  <button *ngIf="!data.user" (click)="onLogin()" class="btn btn-sm mr-2 btn-primary" type="button">
    <img width="15px" src="https://emoji.slack-edge.com/T02B04353/jennifercool/e4545ecd08a8156e.png" alt="Jennifer is cool">
    <span class="btn-text"> Log in</span>
</button>
  <a *ngIf="data.user" class="user-avatar rounded-circle p-0" [routerLink]="'/leader-board/update-profile'">
    <img [src]="data.user.photoURL" alt="User avatar" width="36px" referrerpolicy="no-referrer"/>
  </a>
</ng-container>
